.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #17202C;
    min-height: 100vh;
}

.About p {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    padding-top: 30px;
}

.About--content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 30px 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4E555E;
    gap: 15px;
}

.About--content p {
    font-size: 15px;
    line-height: 1.7;
}

.About--img {
    display: none;
}

.About--text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.About--resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fff;
    padding-top: 15px;
    gap: 10px;
}

.About--resume--text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.About--resume--text h2 {
    color: aqua;
}

.About--resume a {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to Right, aqua 5%, blue 95%);
}

@media screen and (min-width: 768px) {
    .About--content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 900px;
        margin-top: 30px;
    }

    .About--img {
        display: flex;
        height: 100%;
    }

    .About--img img {
        height: 100%;
        border-radius: 10px;
    }

    .About--content p {
        font-size: 18px;
    }
}