.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17202C;
    min-height: 100vh;
}

.Contact p {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    padding-top: 70px;
}

.Contact--content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 30px 25px;
    padding: 25px 50px;
    border-radius: 10px;
    background-color: #4E555E;
}

.Contact--resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Contact--resume--text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Contact--resume--text h2 {
    color: #fff;
}

.Contact--resume a {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}