.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17202C;
    padding-top: 70px;
    min-height: 140vh;
}

.Contact > p {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}

.Contact--content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 25px 25px;
    background-color: #4E555E;
    border-radius: 10px;
    width: 360px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    gap: 20px;
}

.Contact--image img {
    width: 100%;
    border-radius: 10px;
}

.Contact--description {
    display: flex;
    flex-direction: column;
}

.Contact--description > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.Contact--description > article > h3 {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.Contact--description > article > a, .Contact--description > article > p {
    text-align: center;
    color: aqua;
    font-weight: bold;
}

.Contact--description > article > a {
    color: #fff;
    background: linear-gradient(to Right, aqua 5%, blue 95%);
    border-radius: 20px;
    padding: 10px 20px;
}

@media screen and (min-width: 768px) {
    .Contact--content {
        flex-direction: row;
        width: 900px;
    }
}