.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    gap: 20px;
    color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.Nav p {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}